@keyframes appear {
    from {
      opacity: 0;
      transform: translate(-50px);
    }
  }
  body {
    text-align: center;
    animation: 1s appear ease-in-out;
    padding: 50px;
  }

  h1 {
    color: greenyellow;
  }

  h3 {
    color: gold;
  }
  body {
    animation: appear 1s 1 ease-in-out;
    background-color: black;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: gold;
  }