.slide {
  display: flex;
  flex-wrap: nowrap;
  /* 부모 컨테이너를 벗어나는 자식 요소들은 보이지 않도록 설정 */
  overflow: hidden;

  /* 자식 요소들이 부모 요소 안쪽에서 포지션 지정이 되도록 설정 */
  position: relative;

  /* 부모 컨테이너의 전체 사이즈 넓이 */
  width: 100%;
}

/* 자식요소(슬라이드 영역) */
.slide_item {
  border: 1px solid black;
  /* 레이아웃 */
  display: flex; /* 자식요소를 가로로 정렬한다.*/
  align-items: center; /* 가로선을 기준으로 요소들을 중앙 정렬한다.*/
  justify-content: center; /* 세로선을 기준으로 요소들을 중앙 장렬한다.*/

  /* 버튼 클릭 시 left offset 값을 적용하기 위해 */
  position: relative;
  left: 0px;

  /* 사이즈 */
  width: 100%;
  height: 300px;

  /* flex item의 flex-shrink 는 기본값이 1이다(이 경우 부모 컨테이너 사이즈에 맞게 자식요소가 줄어든다.) 
    이 값을 0으로 지정하면 줄어들지 않는다.*/
  flex-shrink: 0;

  /* 부드럽게 움직이는 트랜잭션 구현 */
  transition: left 0.15s;
}

/* 슬라이드 버튼 */
.slide_btn {
  /* 레이아웃 */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 위치 */
  position: absolute;
  /* 버튼이 중앙에 위치하도록 계산 */
  top: calc(45%);

  /* 버튼 사이즈 */
  width: 32px;
  height: 32px;

  /* 스타일 설정 */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev {
  left: 10px;
}

.slide_next {
  right: 10px;
}

/* 슬라이드 페이지네이션 스타일 */

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color:black;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}
