
body{
    background-color: black;
    color:white;
    width: 100%;
    
}
table td {
  border: 2px solid rgba(34, 180, 59,0.7);
  width: 100px;
  text-align: center;
}

.a {
  border-collapse: collapse;
}
